
<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Body:</b> <%= @content_block.body %></p>
<p><b>Path:</b> <%= @content_block.path %></p>
<p><b>Link:</b> <%= @content_block.link %></p>
<p><b>Marketing:</b> <%= @content_block.marketing %></p>
<p><b>Web:</b> <%= @content_block.web %></p>
<p><b>Design:</b> <%= @content_block.design %></p>
