
<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Size:</b> <%= @content_block.size %></p>
<p><b>Mode:</b> <%= @content_block.mode %></p>
<p><b>Flashvars:</b> <%= @content_block.flashvars %></p>
<p><b>Parameters:</b> <%= @content_block.parameters %></p>
<p><b>Alternate Html:</b> <%= @content_block.alternate_html %></p>
<p><b>Swf File Name:</b> <%= @content_block.swf_file_name %></p>
<p><b>Swf Content Type:</b> <%= @content_block.swf_content_type %></p>
<p><b>Swf File Size:</b> <%= @content_block.swf_file_size %></p>
<p><b>Xml Content Type:</b> <%= @content_block.xml_content_type %></p>
<p><b>Xml File Name:</b> <%= @content_block.xml_file_name %></p>
<p><b>Xml File Size:</b> <%= @content_block.xml_file_size %></p>
